<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Treat Map</title>

	<link rel="stylesheet" href="css/leaflet.css" type="text/css"/>
	<link rel="stylesheet" href="css/treat-styles.css" type="text/css"/>

	<script src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/tangram.min.js"></script>

</head>

<body>

	<div id="app" class="wrapper"> <!-- id app used by js only -->

		<div class="map-wrapper">

			<section class="map-area">
				<div id="mapdiv"> <!-- mapdiv used by js, is also in css -->
					<!-- map goes here -->
				</div>
			</section>

			<div class="map-layers-controls">
				<input 
					type="radio" 
					id="one" 
					value="greenleaf" 
					v-model="whichLayer"
					v-on:change="layerChanged()"
				/>
				<label for="one">Greenleaf/Treat</label>				
				<input 
					type="radio" 
					id="two" 
					value="terrain" 
					v-model="whichLayer"
					v-on:change="layerChanged()"
				/>			
				<label for="two">Terrain</label>		

				<label for="id_2">
					<input 
						id="id_2" 
						name="overlay" 
						type="checkbox" 
						v-model="roadsShowing"
						v-on:change="roadsChanged()"
					/>Current Roads &amp; Towns -- showing: {{ roadsShowing }}
				</label>
			</div><!-- /map-layers-control -->

		</div><!-- /map-wrapper-->


		<section class="journal-info-panel">

			<!-- Introduction - conditional -->
			<template v-if="isIntro" style="display: block;"> 
				<header>
					<h3>Introduction</h3>
					<h2>Explore Joseph Treat's Map and Journal</h2>
				</header>
				<div class="journal-text">		
					<span v-html="entry.entry_text"></span>
					<a href = "#" v-on:click = "startJourney()">BEGIN EXPLORING</a>
				</div><!-- /journal-text -->
			</template>
			<template v-else style="display: block;"> 
				<!-- markup in treat.js -->
				<header-block 
					v-bind:anentry="entry">
				</header-block>
				
				<nav-block 
					v-bind:anentry="entry">
				</nav-block>
				
				<!-- markup in treat.js -->
				<journal-item 
				v-bind:anentry="entry"   
				v-bind:imgname="imgname"   
				></journal-item>

				<nav-block 
					v-bind:anentry="entry">
				</nav-block>
			</template>
			
		</section> <!-- /entry-panel -->

	</div> <!-- /app -->

<script type="text/javascript" src="js/leaflet.js"></script>
<!-- <script type="text/javascript" src="js/site-list-json.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script src="js/treat.js" type="text/javascript"></script>

</body>
</html>
