<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Treat Map</title>

<link rel="stylesheet" href="css/leaflet.css" type="text/css"/>
<link rel="stylesheet" href="css/treat-styles.css" type="text/css"/>

<script src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/tangram.min.js"></script>

<style type="text/css">
	/*just a hack*/
	input {
	    float:left;
	}
	/* Needed to keep the pointer over markers -- otherwise reverts to grab on change*/
	.leaflet-overlay-pane path,
	.leaflet-marker-icon {
	  cursor: pointer;
	}
</style>

</head>

<body>

	<div id="app" class="wrapper"> <!-- id app used by js only -->
		<div class="map-wrapper">

			<section class="map-area">
				<div id="mapdiv"> <!-- mapdiv used by js, is also in css -->
					<!-- map goes here -->
				</div>
			</section>

		</div><!--/map-wrapper-->

		<section id="entry-panel" class="journal-info-panel"><!--Don, do we need #entry-panel? -->


			<!-- markup in treat.js -->
			<header-block 
				v-bind:anentry="entry">
			</header-block>
			
			<!-- <journal-nav v-bind:anentry="entry"></journal-nav> -->
			<nav class="entry-nav">
				<p>
					<!-- <a href="#previous-entry">previous</a>  -->
					<template v-if="true" style="display: block;"> 
						<a href = "#" v-on:click.prevent = "incrementEntry('prev')">previous</a> | 
					</template>
					x/yy 
					<!-- <a href="#next-entry">next</a> -->
					<a href = "#" v-on:click = "incrementEntry('next')">next</a>
				</p>
			</nav>
			
			<!-- markup in treat.js -->
			<journal-item 
			v-bind:anentry="entry"   
			v-bind:imgname="imgname"   
			></journal-item>


			<nav class="entry-nav">
				<p>
					<!-- <a href="#previous-entry">previous</a>  -->
					<template v-if="true" style="display: block;"> 
						<a href = "#" v-on:click.prevent = "incrementEntry('prev')">previous</a> | 
					</template>
					x/yy 
					<!-- <a href="#next-entry">next</a> -->
					<a href = "#" v-on:click = "incrementEntry('next')">next</a>


					<div class="first-group">
						<input 
							type="radio" 
							id="one" 
							value="greenleaf" 
							v-model="whichLayer"
							v-on:change="layerChanged()"
						/>
						<label for="one">Greenleaf/Treat</label>				
					</div>
					<div>
						<input 
							type="radio" 
							id="two" 
							value="terrain" 
							v-model="whichLayer"
							v-on:change="layerChanged()"
						/>			
						<label for="two">Terrain</label>				
					</div>

					<label for="id_2">
						<input 
							id="id_2" 
							name="overlay" 
							type="checkbox" 
							v-model="roadsShowing"
							v-on:change="roadsChanged()"
						/>Current Roads &amp; Towns -- showing: {{ roadsShowing }}
					</label>

				</p>
			</nav>


		</section> <!-- /entry-panel -->
	</div> <!-- /app -->

<script type="text/javascript" src="js/leaflet.js"></script>
<!-- <script type="text/javascript" src="js/site-list-json.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script src="js/treat.js" type="text/javascript"></script>

</body>
</html>
